li a:hover{
    background-color: #f2f2f2;
    border-radius: 10px;
}
.mobile_nav{display: none;}
.help_sec{
    background-image: url(bg.png);
}
.search{ width: fit-content;}
.main_containe{
    position: absolute;
    right: 0;
}
tr:hover{
    background-color: #f2f2f2;
}